@use '../abstracts/variables';
@use "sass:math";

%footer-main{
  margin-top: 8px;
  font-size: 25px;
}

footer {
  width: 100%;
  position: relative;
  z-index: 100;
}

.footer-imagesContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
  background-color: red;
  
  @include variables.wz(small) {
  }
}

.footer-infomation--Wrapper {
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: hidden;


}
.footer-infomation{
  background-color: #757575;
  position: relative;
  width: 100%;
  height: 300px;
  top: 300px;
  padding: 1vw 2.5vw;
  bottom: 0;
  @include variables.flexjc(space-between);
  align-items: flex-start;
  

  @include variables.wz(small){
    flex-direction: column;
  }
}

.footer-left { 
  @include variables.flexjc(space-between);
  width: 40%;
  height: 80%;
  flex-direction: column;
  padding-right: 10%;


  @include variables.wz(small){
   width: 100%;
   align-items: center;
   justify-content: center;
   padding: 0;
   .footer-navToFrist{
    display: none;
   }
  }
  
}
.footer-title {
  p{
    transform: scaleY(1.05);
    @include variables.jamsil(500, 75px);
    letter-spacing: -1px;
    width: 100%;

    @include variables.wz(small){
      font-size: 3em;
      letter-spacing: 1px;
    }
  }
}
.footer-navToFrist {
  a{
    @include variables.jamsil(300, 15px);
    color: #cdcdcd;
    cursor: pointer;
    transition: .25s;
  }
  a:hover {
    font-size: 15px;
    color: #000;
  }
}

.footer-right {
  display: flex;
  align-items: start;
  @include variables.jamsil(400, 13px);

  @include variables.wz(small){
    flex-direction: column;
  }
}

.footer-info--first {
  margin-right: 80px;
}
.footer-info--phone {
  margin-bottom: 8px;
  .footer-info--number {
    @extend %footer-main
  }
}

.footer-info--addressWra {
  .footer-info--address {
    letter-spacing: .5px;
    word-spacing: 4px;
    p {
      margin-top: 8px;
    }
  }
}

.footer-info--seconde {

  .footer-info-secondeUp {

  }
  .footer-info-secondeDown {
    
  }
}

.footer-info--emailWrp {
  margin-bottom: 8px;
  .footer-info-email{
    @extend %footer-main;
    text-transform: uppercase;
  }
}

.footer-info--SNS{
  p{
    margin-bottom: 8px;
  }
}
.footer-info-secondeDown {
  margin-top: 40px;
  font-size: 20px;
}