@use '../abstracts/variables';
@use "sass:math";


%index-FJcSbR{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
%index-section {
  width: 100vw;
  height: 100vh;
}
@mixin border($po1,$po2){
  width: 9px;
  height: 9px;
  #{$po1} : 0;
  #{$po2} : 0;
  border-#{$po1}: 2px solid rgba(255,255,255,0.4);
  border-#{$po2}: 2px solid rgba(255,255,255,0.4);
}

@keyframes borderColor {
    0% {
      border-color:  rgba(255,255,255,.4);
    }
    50% {
      border-color:  rgba(255,255,255,1);

    }
    100% {
      border-color:  rgba(255,255,255,.4);
    } 
}

@keyframes scrollBall {
    0% {
      opacity: 0%;
      top:62%
    }
    30% {
      opacity: 100%;
      top:62%
    }
    70%{
      opacity: 100%;
      top:6%
    }
    100% {
      opacity: 0%;
      top:6%
    } 
}

@mixin borderHover ($i){
  animation: borderColor 1.5s ease-in-out #{$i} infinite;
  animation-delay: #{$i}, #{3s + $i};
}


.index-section-01{
  @extend %index-section;
  height: 100vh;
  position: relative;
}

.index-section01-videoWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.index-section01-video {
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover
  }
}

.index-section01-Control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: .5s;
  z-index: 2;
  &.hide {
    top:10%;
    opacity: 0;
    z-index: -10;
  }

}

.index-section01-playBtn {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 100px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: blue;
}

.index-section01--textWrapper {
  color: white;
  position: absolute;
  bottom: 22vh;
  @include variables.centerX();

  .index-section01--welcome,
  .index-section01--title {
    position: relative;
  }

  .index-section01--welcome p,
  .index-section01--title h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .index-section01--welcome p{
    @include variables.jamsil(400, 18px);
    letter-spacing: 3px;
    line-height: 35px;
  }
  .index-section01--title h3{
    @include variables.jamsil(500, 32px);
  }
  
}




.index-section01--videoControls--OpenWrapper {
  position: absolute;
  color:white;
  left: 0;
  bottom: 5vh;
  left: 2.5vw;
  display: flex;
  justify-content: start;
  align-items: center;


  .index-section01--openBtnWrp {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    transform: scale(1);
    transition: transform .35s;
    cursor: pointer;
    div {
      position: absolute;
    }
    .index-section01--openBtnContainer {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .index-section01--openBtn {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .index-section01--openBtnSide:nth-child(2){
      @include border(top,left);
    }
    .index-section01--openBtnSide:nth-child(3){
      @include border(top,right);
    }
    .index-section01--openBtnSide:nth-child(4){
      @include border(bottom,right);
    }
    .index-section01--openBtnSide:nth-child(5){
      @include border(bottom,left);
    }
  }

  .index-section01--openBtnWrp:hover {
    transform: scale(1.1);
    .index-section01--openBtnSide:nth-child(2){
      @include borderHover(0s)
    }
    .index-section01--openBtnSide:nth-child(3){
      @include borderHover(0.25s)
    }
    .index-section01--openBtnSide:nth-child(4){
      @include borderHover(0.4s)
    }
    .index-section01--openBtnSide:nth-child(5){
      @include borderHover(0.5s)
    }
  }

  .index-section01--creator {
    text-transform: uppercase;
    letter-spacing: 1px;
    @include variables.jamsil(300, 17px);
    color: rgba(255,255,255,0.4)
  }
}

.index-section01--howToUse {
  position: absolute;
  bottom: 5vh;
  width: 36px;
  // background-color: blue;
  @include variables.centerX();

  .index-section01-scrollIcon {
    position: absolute;
    width: 30px;
    height: 62px;
    border-radius: 18px 18px 18px 18px;
    transform: translateY(-100%);
    border: 2px solid rgba(255,255,255,1);
    // border-right: 2px solid rgba(255,255,255,1);
    // border-left : 2px solid rgba(255,255,255,1);

    &::after{
      content: '';
      position: relative;
      display: block;
      width: 20px;
      height: 19px;
      border-radius: 100%;
      background-color: white;
      @include variables.centerX();
      animation: scrollBall 1.7s ease-in-out .7s infinite;
    }
  }
}

.index-section01--videoControlsWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: .5s;
  z-index: 2;
  &.hide {
    top:10%;
    opacity: 0;
    z-index: 0;
  }
  .index-section01--detailControls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
  }
  .index-section01--controls--videoRangeWrapper {
    width: 100%;
    padding: 4% 2.5vw;
    height: 10px;
    position: relative;
    top: 0;

    .index-section01--controls--rangeLow {
      position: relative;
      width: 100%;
      height: 23px;
      border-radius: 1px;

      .index-section01--controls--range{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.4);
      }
      .index-section01--controls--rangePass{
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        border-top: 1px solid white;
      }
      .index-section01--controls--rangeControl {
        position: absolute;
        width: 23px;
        height: 23px;
        border-radius: 100%;
        background-color: wheat;
        top: -50%;
        left: 20%;
        transition: .2s;
        z-index: 999;
        &:hover{
          background-color: gray;
        }
      }
    }
  }

}


.index-section01--controls--closeBtn {
  position: relative;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  overflow: hidden;
  align-items: center;
  
  top: 50%;
  left: 50%;
  button {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    pointer-events: all;
    @include variables.flexjc(center);
    align-items: center;
    span{
      @include variables.jamsil(100, 22px);
      margin-top: -2px;
    }
  }

  &.hide{
    pointer-events: none;
    width: 10px;
    height: 10px;
    button {
      display: none;
    }
  }
}
.index-section-02{
  @extend %index-section;
  position: relative;
}

.index-section02--wrapper {
  position: relative;
  width: 100%;
  height: 100%;

}

.index-section02--title {
  width: 100%;
  position: relative;
  h2 {
    @include variables.jamsil(700, 25px);
    text-transform: uppercase;
    margin: 70px 0;
    letter-spacing: 1.5px;
    word-spacing: 15px; 
    position: relative;
    display: inline-block;
    @include variables.centerX();
  }
}

.index-section02--textWrappers{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 120px;
  align-items: flex-start;

  .index-section02--textWrapper {
    width: 220px;
    border: 1px solid variables.$bd-01;
    border-radius: 20px;
    padding: 20px 15px;;
    cursor: pointer;

    .index-section02--subTitle{
      @include variables.jamsil(500, 13px);
      color: rgba(0,0,0,.5);
      letter-spacing: 1.2px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .index-section02--subWrapper {
      width: 100%;
      height: 0px;
      overflow: hidden;
    }

    .index-section02--content{
      width: 100%;
      @include variables.jamsil(400, 17px);
      font-family: "jsRegular";
      letter-spacing: 1px;
      line-height: 21px;
      word-spacing: 3px;
    }
    .index-section02--showIconWrapper {
      position: relative;
      width: 100%;
      height: 30px;
    }
    .index-section02--showText {
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 100%;
      height: 40px;
      font-size: 18px;
      overflow: hidden;
      p {
        position: absolute;
        opacity: 0;
        bottom: 0;
        transform: translateX(-100%);
        @include variables.jamsil(400, 0);
        transition: 0.35s ease;
      }
    }
    .index-section02--icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-color: white;
      transition: 0.25s ease;
      overflow: hidden;

      .index-section02--arrowIcon{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        transition: 0.25s ease;
      }

      .arrowOne{
        transform: translate(-50%,-50%);    
      }
      .arrowTwo{
        transform: translate(-150%,150%);    
      }
    }
  }

  .index-section02--textWrapper:hover {
    .index-section02--subTitle{
      color: #000;
    }
    .index-section02--showText p{
      transform: translateX(0%);
      opacity: 1;
    }
    
    .arrowOne{
      transform: translate(150%,-150%);    
    }
    .arrowTwo{
      transform: translate(-50%,-50%);    
    }
  }
}
.index-section02--imagesWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  .index-section02--image{
    position: absolute;
    width: 260px;
    height: 180px;
    border: 1px solid #000;
    background-color: rgba(0,0,255,.5);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }
}

.index-section-03{
  @extend %index-section;

}
.index-section03--wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  position: relative;
  .index-section03--reasonFirst,
  .index-section03--reasonFirst {
    @extend %index-FJcSbR
  }

}
.index-section03--reasonFirst {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .index-section03--whatIsAnimation {
    width: 350px;
    position: relative;
    .index-section03--whatIsAnimation-black,
    .index-section03--whatIsAnimation-gray {
      position: absolute;
      top: 0;
      left: 0;
      p {
        @include variables.jamsil(400, 20px);
        word-spacing: 6px;
        line-height: 29px;
      }
    }
    .index-section03--whatIsAnimation-black p{
      color: #000;
    }
    .index-section03--whatIsAnimation-gray p{
      color: #6c6c6c;
    }



  }
  .index-section03--experienceAni {
    width: 750px;
    height: 500px;
    background-color: blue;
    opacity: 0.5;
  }
}

.index-section03--reasonSecond {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;

  .index-section03--titleWrapper {
    position: absolute;
    left: 0;
    top: -130px;
    .index-section03--titles p{
      padding-bottom:  45px;
      @include variables.jamsil(800, 85px);
    }
  }

  .index-section03--whyDoIMade {
    width: 40%;
    p{
      @include variables.jamsil(400, 15px);
      word-spacing: 6px;
      line-height: 26px;
    }
  }
}