@use '../abstracts/variables';
@use "sass:math";


@keyframes showContent {
  0%{
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    bottom: -50px;
  }
  1%{
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    bottom: -44px;
  }
  100%{
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    bottom: 0px;
  }
}

@keyframes showTexts {
  0%{
    color: rgba(0, 0, 0, 0);
    transform: translateY(5px);
  }
  100%{
    color: rgba(0, 0, 0, 1);
    transform: translateY(0px);
  }
}
@keyframes showBtn {
  0%{
    color: rgba(0, 0, 0, 0);
    transform: translateY(5px);
  }
  100%{
    color: variables.$zzz04;
    transform: translateY(0px);
  }
}

%showTexts{
  animation: showTexts .7s ease-in forwards;
}

.tricksList{
  padding-top: 6vh;
}
.tricksWrapper {
  width: 100%;
  padding:  0 2.5vw;
}
.tricks-list--row {
  width: 100%;
  height: 200px;
  display: flex;
  border-bottom: 1px solid variables.$zzz04;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  &.close {
    height: 0px;
  }
}

.tricks-list--entrance{
  width: 40%;
  height: 100%;
  padding: 1% 2%;
  @include variables.flexjc(space-between);
  flex-direction: column;
  border-radius: 5px;
  .tricks-list--title {

    h1 {
      @include variables.jamsil(100, 80px);
      text-transform: uppercase;
      letter-spacing: 20px;
    }
  }
  .tricks-list--whatIs {
    @include variables.flexjc(space-between);

    .tricks-list--intro{
      p{
        @include variables.jamsil(100, 17px);
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
    .tricks-list--count {
      @include variables.jamsil(300, 18px);
      color: variables.$zzz04;
    }
  }
}

.trickWrapper{
  width: 20%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3 px 0;
}

.trick {
  position: relative;
  width: 97%;
  height: 96%;
  border: 1px dashed variables.$zzz04;
  border-radius: 5px;
  overflow: hidden;

  .trick-content--Wrapper {
    position: absolute;
    bottom: -80px;
    overflow: hidden;
    width: 100%;
    padding: 2% 3%;
    background-color: rgba(255,255,255,.4);
    backdrop-filter: blur(2px);
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    .trick-content--title {
      @include variables.jamsil(700, 17px);
      margin-bottom: 6px;
    }
    .trick-content--infos {
      width: 100%;
      text-transform: uppercase;
      @include variables.flexjc(space-between);
      @include variables.jamsil(700, 12px);
      align-items: center;
      margin-bottom: 4px;

      .trick-content--right{
        @include variables.flexjc(space-between);
        align-items: center;
        button {
          outline: none;
          background: transparent;
          border: none;
          text-transform: uppercase;
          padding: 0;
          @include variables.jamsil(700, 12px);
          cursor: pointer;
          transition: .25s;
        }
      }

      .trick-content--skills{
          
        span{
          @include variables.jamsil(700, 11px);
        }
      }
    }
  }
  
  &:hover .trick-content--Wrapper{
    animation: showContent 1s forwards;
    .trick-content--title,
    .trick-content--infos
    {
      @extend %showTexts;
    }
    button {
      animation: showBtn .7s ease-in forwards;

      &:hover{
        color: black !important;
      }
    }
  }

  &:hover .trick-video--Wrapper {
    width: 100%;
    height: 100%;
    .trick-video--video {
      width: 98%;
      height: 98%;
      border-radius: 5px;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.trick-video--Wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;

  @include variables.flexjc(center);
  align-items: center;
}
.trick-video--video {
  width: 94%;
  height: 96%;

  border-radius: 20px;
  overflow: hidden;
  transition: .25s;
  video {
    width: 130%;
    height: 130%;
    object-fit: cover;
    
    transition: .25s;
  }
}

.trick-showMore {
  width: 100vw;
  padding: 2em;
}

.trick-showMore-BtnBox {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 120px;
    height: 40px;
    @include variables.resBtn();
    border-radius: 5px;
    border: 1px solid variables.$zzz04;
    transition: .4s;

    span{
      transition: .4s;
      @include variables.jamsil(300,1.3em);
      color: #c9c9c9;
    }
    &:hover{
      border: 1px solid variables.$zzz08;
      span {
        color:#000000;
      }
    }
  }

  .trick-showMore--end {
    @include variables.jamsil(300,1.5em);
  }
}