@use '../abstracts/variables';
@use "sass:math";


@keyframes showContent {
  0%{
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    bottom: -50px;
  }
  1%{
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    bottom: -44px;
  }
  100%{
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    bottom: 0px;
  }
}

@keyframes showTexts {
  0%{
    color: rgba(0, 0, 0, 0);
    transform: translateY(5px);
  }
  100%{
    color: rgba(0, 0, 0, 1);
    transform: translateY(0px);
  }
}
@keyframes showBtn {
  0%{
    color: rgba(0, 0, 0, 0);
    transform: translateY(5px);
  }
  100%{
    color: variables.$zzz04;
    transform: translateY(0px);
  }
}

%showTexts{
  animation: .7s ease-in forwards;
  
  @include variables.wz(small){

  }

  @include variables.wz(xlarge){
    animation-name: showTexts;
  }
}

.tricksList{
  padding-top: 6vh;
}
.tricksWrapper {
  width: 100%;
  padding:  0 2.5vw;
}
.tricks-list--row {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  border-bottom: 1px solid variables.$zzz04;
  overflow: hidden;
  transition: 0.25s ease-in-out;

  @include variables.wz(small){
    display: block;
    overflow: visible;
    height: auto;
    border: none;
    width: 98%;
  }
  &.close {
    height: 0px;
  }

  .animate {
    position: absolute;
    top: 0;
    width: 0vw;
    height: 100%;
    background-color: black;
  }
}

.tricks-list--entrance{
  width: 40%;
  height: 100%;
  padding: 1% 2%;
  @include variables.flexjc(space-between);
  flex-direction: column;
  border-radius: 5px;


  @include variables.wz(small){
    width: 100%;
  }
  @include variables.wz(medium){
    width: 100%;
  }

  .tricks-list--title {
    h1 {
      @include variables.jamsil(100, 80px);
      text-transform: uppercase;
      letter-spacing: 20px;

      @include variables.wz(small){
        @include variables.jamsil(500,5em);
        margin-bottom: 20px;
      }
      @include variables.wz(medium){
        @include variables.jamsil(400,8em);
      }
    }
  }
  .tricks-list--whatIs {
    @include variables.flexjc(space-between);

    @include variables.wz(small){
      display: block;
    }

    .tricks-list--intro{
      p{
        @include variables.jamsil(100, 17px);
        letter-spacing: 1px;
        text-transform: uppercase;

        @include variables.wz(small){
          font-size: 1.1em;
          margin-bottom: 10px;
        }
      }
    }
    .tricks-list--count {
      @include variables.jamsil(300, 18px);
      color: variables.$zzz04;

      @include variables.wz(small){
        text-align: right;
        padding-bottom: 5px;
        border-bottom: 1px solid variables.$zzz04;
      }
    }
  }
}

.trickWrapper{
  width: 20%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include variables.wz(small){
    width: 100%;
    border-bottom: 1px solid variables.$zzz04;
  }
  @include variables.wz(medium){
    width: 50%;
    border-bottom: 1px solid variables.$zzz04;
  }
}

.trick {
  position: relative;
  width: 97%;
  height: 96%;
  border: 1px dashed variables.$zzz04;
  border-radius: 5px;
  overflow: hidden;


  @include variables.wz(small){
    width: 100%;
    height: 90%;
    display: flex;    
    border: none;
  }
  
  .trick-content--Wrapper {
    position: absolute;
    bottom: -100px;
    overflow: hidden;
    height: 40%;
    width: 100%;
    padding: 2% 3%;
    background-color: rgba(255,255,255,.4);
    backdrop-filter: blur(2px);
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;


    @include variables.wz(large){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include variables.wz(small){
      position: relative;
      border-radius: 0;
      border: none;
      bottom: 0;
      overflow:visible;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1% 0% 0% 3%;
    }
    @include variables.wz(medium){
      position: absolute;
      border-radius: 0;
      bottom: 0;
      height: 40%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }

    .trick-content--title {
      @include variables.jamsil(700, 17px);
      margin-bottom: 6px;


      @include variables.fz(17px,1.4em,1.7em,1.3em);

      @include variables.wz(small){
        display: inline-block;
        width: 100%;
        h2{
          margin: 0;
        }
      }
      
    }
    .trick-content--infos {
      width: 100%;
      text-transform: uppercase;
      @include variables.flexjc(space-between);
      @include variables.jamsil(700, 12px);
      align-items: center;
      margin-bottom: 4px;

      @include variables.wz(small){
        flex-direction: column;
        align-items: start;
        height: 140px;
        margin: 0;
      }

      .trick-content--right{
        @include variables.flexjc(space-between);
        align-items: center;

        @include variables.wz(small){
          width: 100%;
          justify-content: end;
        
        }
        button {

          outline: none;
          background: transparent;
          border: none;
          text-transform: uppercase;
          padding: 0;
          @include variables.jamsil(700, 12px);
          cursor: pointer;
          transition: .25s;

          @include variables.wz(small){
            font-size: 1.3em;
          }
        }
      }

      .trick-content--skills{
        @include variables.wz(large){
          display: none;
        }
        span{
          @include variables.jamsil(700, 11px);
        }
      }
    }
  }
  

  &:hover .trick-content--Wrapper{
    animation: 1s forwards;

    @include variables.wz(xlarge) {
      animation-name: showContent;
    }
    @include variables.wz(large) {
      animation-name: showContent;
    }
    
    .trick-content--title,
    .trick-content--infos {
      @extend %showTexts;
    }

    button {
      // animation: showBtn .7s ease-in forwards;

      &:hover{
        color: black !important;
      }
    }


  }


  &:hover .trick-video--Wrapper {
    width: 100%;
    height: 100%;
    .trick-video--video {
      width: 98%;
      height: 98%;
      border-radius: 5px;



    }
    video {
      width: 100%;
      height: 100%;
    }
  }





}

.trick-video--Wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  align-items: center;

  @include variables.flexjc(center);
  @include variables.wz(small){
    position: relative;
  }
}
.trick-video--video {
  width: 94%;
  height: 96%;

  border-radius: 20px;
  overflow: hidden;
  transition: .25s;

  @include variables.wz(small){
    width: 98%;
    height: 98%;
    border-radius: 5px;
  }

  video {
    width: 130%;
    height: 130%;
    object-fit: cover;
    
    transition: .25s;
  }
}

.trick-showMore {
  width: 100vw;
  padding: 2em;
}

.trick-showMore-BtnBox {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    @include variables.resBtn();
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid variables.$zzz04;
    transition: .4s;

    span{
      transition: .4s;
      @include variables.jamsil(300,1.3em);
      color: #c9c9c9;
    }
    &:hover{
      border: 1px solid variables.$zzz08;
      span {
        color:#000000;
      }
    }
  }

  .trick-showMore--end {
    @include variables.jamsil(300,1.5em);
  }
}