@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@mixin jamsil($fw){
  font-family: 'TheJamsil5Bold';
  font-weight: $fw;
}

$bd-01 : rgba(0, 0, 0, .1);


$bua : rgba(0,0,0,.5);
$ba : rgba(0,0,0,1);
$header-height : 5vh;