@font-face {
  font-family: 'jsExtraBold'; 
  src: url('../../assets/fonts/Jamsil/The_Jamsil_OTF_ExtraBold.otf') format('opentype'); /* otf 파일 경로 */
  font-weight: 800; 
  font-style: normal;  
}
@font-face {
  font-family: 'jsBold'; 
  src: url('../../assets/fonts/Jamsil/The_Jamsil_OTF_Bold.otf') format('opentype'); /* otf 파일 경로 */
  font-weight: 700; 
  font-style: normal;  
}
@font-face {
  font-family: 'jsMedium'; 
  src: url('../../assets/fonts/Jamsil/The_Jamsil_OTF_Medium.otf') format('opentype'); /* otf 파일 경로 */
  font-weight: 500; 
  font-style: normal;  
}
@font-face {
  font-family: 'jsRegular'; 
  src: url('../../assets/fonts/Jamsil/The_Jamsil_OTF_Regular.otf') format('opentype'); /* otf 파일 경로 */
  font-weight: 400; 
  font-style: normal;  
}
@font-face {
  font-family: 'jsLight'; 
  src: url('../../assets/fonts/Jamsil/The_Jamsil_OTF_Light.otf') format('opentype'); /* otf 파일 경로 */
  font-weight: 300; 
  font-style: normal;  
}
@font-face {
  font-family: 'jsThin'; 
  src: url('../../assets/fonts/Jamsil/The_Jamsil_OTF_Thin.otf') format('opentype'); /* otf 파일 경로 */
  font-weight: 100; 
  font-style: normal;  
}


@mixin wz($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: 0) and (max-width: 501px) {
        @content; 
    }
  } @else if $breakpoint == medium {
    @media (min-width: 502px) and (max-width: 768px) {
        @content; 
    }
  } @else if $breakpoint == large {
    @media (min-width: 769px) and (max-width: 1279px) {
        @content; 
    }
  } @else if $breakpoint == xlarge {
    @media (min-width: 1280px) {
        @content; 
    }
  }
}


@mixin fz($f1, $f2, $f3, $f4) {
  @include wz(xlarge){
    font-size: $f1;
  }
  @include wz(large){
    font-size: $f2;
  }
  @include wz(medium){
    font-size: $f3;
  }
  @include wz(small){
    font-size: $f4;
  }
}




@mixin jamsil($fw,$fz){
  @if $fw == 100 {
    font-family: 'jsThin';
  } @else if $fw == 300 {
    font-family: 'jsLight';
  } @else if $fw == 400 {
    font-family: 'jsRegular';
  } @else if $fw == 500 {
    font-family: 'jsMedium';
  } @else if $fw == 700 {
    font-family: 'jsBold';
  } @else if $fw == 800 {
    font-family: 'jsExtraBold';
  }
  @if $fz == 0 {
  } @else {
    font-size: $fz;
  }
}

@mixin centerX(){
  left: 50%;
  transform: translateX(-50%);
}
@mixin centerY(){
  top: 50%;
  transform: translateY(-50%);
}
@mixin center(){
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin flexjc($jc){
  display: flex;
  justify-content: $jc;
}

@mixin resBtn(){
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin textHide(){
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

$bd-01 : rgba(0, 0, 0, .1);

$zzz08 : rgba(0,0,0,.8);
$zzz04 : rgba(0,0,0,.4);
$bua : rgba(0,0,0,.5);
$ba : rgba(0,0,0,1);
$header-height : 5vh;

