@charset "UTF-8";
@font-face {
  font-family: "jsExtraBold";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_ExtraBold.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "jsBold";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Bold.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "jsMedium";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Medium.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "jsRegular";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Regular.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "jsLight";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Light.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "jsThin";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Thin.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 100;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  width: 100vw;
  overflow-x: hidden;
}
@media (min-width: 0) and (max-width: 480px) {
  html {
    overflow-x: visible;
  }
}

body {
  line-height: 1;
  width: 100vw;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 0) and (max-width: 480px) {
  body {
    overflow-x: visible;
  }
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.movePage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.moveDetail {
  display: flex;
  flex-direction: column;
  left: 0;
}
.moveDetail .block {
  width: 100vw;
  height: 100%;
  background-color: black;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
}

.moveOther {
  display: flex;
  justify-content: space-between;
}
.moveOther .left, .moveOther .right {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}
.moveOther .left {
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
}
.moveOther .right {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
}
.moveOther .left-Inner, .moveOther .right-Inner {
  width: 100%;
  height: 100%;
  background-color: gray;
}
.moveOther .left-text, .moveOther .right-text {
  position: fixed;
  text-transform: uppercase;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21em;
}

.footer-info--emailWrp .footer-info-email, .footer-info--phone .footer-info--number {
  margin-top: 8px;
  font-size: 25px;
}

footer {
  width: 100%;
  position: relative;
  z-index: 100;
}

.footer-imagesContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
          clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
  background-color: red;
}
.footer-infomation--Wrapper {
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.footer-infomation {
  background-color: #757575;
  position: relative;
  width: 100%;
  height: 300px;
  top: 300px;
  padding: 1vw 2.5vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 0) and (max-width: 480px) {
  .footer-infomation {
    flex-direction: column;
  }
}

.footer-left {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 80%;
  flex-direction: column;
  padding-right: 10%;
}
@media (min-width: 0) and (max-width: 480px) {
  .footer-left {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .footer-left .footer-navToFrist {
    display: none;
  }
}

.footer-title p {
  transform: scaleY(1.05);
  font-family: "jsMedium";
  font-size: 75px;
  letter-spacing: -1px;
  width: 100%;
}
@media (min-width: 0) and (max-width: 480px) {
  .footer-title p {
    font-size: 3em;
    letter-spacing: 1px;
  }
}

.footer-navToFrist a {
  font-family: "jsLight";
  font-size: 15px;
  color: #cdcdcd;
  cursor: pointer;
  transition: 0.25s;
}
.footer-navToFrist a:hover {
  font-size: 15px;
  color: #000;
}

.footer-right {
  display: flex;
  align-items: start;
  font-family: "jsRegular";
  font-size: 13px;
}
@media (min-width: 0) and (max-width: 480px) {
  .footer-right {
    flex-direction: column;
  }
}

.footer-info--first {
  margin-right: 80px;
}

.footer-info--phone {
  margin-bottom: 8px;
}
.footer-info--addressWra .footer-info--address {
  letter-spacing: 0.5px;
  word-spacing: 4px;
}
.footer-info--addressWra .footer-info--address p {
  margin-top: 8px;
}

.footer-info--emailWrp {
  margin-bottom: 8px;
}
.footer-info--emailWrp .footer-info-email {
  text-transform: uppercase;
}

.footer-info--SNS p {
  margin-bottom: 8px;
}

.footer-info-secondeDown {
  margin-top: 40px;
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "jsBold";
  text-transform: uppercase;
  z-index: 1000;
  font-size: 1em;
  background-color: white;
}
@media (min-width: 0) and (max-width: 480px) {
  header {
    top: -5vh;
  }
}

.headerWrapper {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogoWrapper {
  position: absolute;
  top: 0;
  background-color: red;
  opacity: 0.2;
  left: 2.5vw;
  height: 100%;
  margin-right: 40vw;
}
.headerLogoWrapper .headerLogo {
  height: 100%;
  width: 100px;
  cursor: pointer;
}

.headerMenu {
  position: fixed;
  top: 10px;
  right: 10px;
  mix-blend-mode: multiply;
  color: white;
  background-color: red;
  z-index: 10;
}

.headerNavWrapper {
  display: flex;
  gap: 5vw;
}
@media (min-width: 0) and (max-width: 480px) {
  .headerNavWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0);
            clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0);
  }
}

.headerNav {
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 0) and (max-width: 480px) {
  .headerNav {
    position: relative;
    top: -10px;
    left: -10px;
    opacity: 0;
  }
}
.headerNav span {
  display: inline-block;
  width: 15px;
  font-size: 12px;
  transform: scale(1);
  transform-origin: bottom;
  transition: 0.25s;
  color: rgba(0, 0, 0, 0.5) ease-in-out;
}
.headerNav a {
  color: rgba(0, 0, 0, 0.5);
}

.headerNav:hover span {
  transform: scale(1.4);
  color: rgb(0, 0, 0);
}
.headerNav:hover a {
  color: rgb(0, 0, 0);
}

.headerCreate {
  display: none;
}
@media (min-width: 0) and (max-width: 480px) {
  .headerCreate {
    display: block;
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    color: white;
  }
}

.index-section03--reasonFirst {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.index-section-03, .index-section-02, .index-section-01 {
  width: 100vw;
  height: 100vh;
}

@keyframes borderColor {
  0% {
    border-color: rgba(255, 255, 255, 0.4);
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes scrollBall {
  0% {
    opacity: 0%;
    top: 62%;
  }
  30% {
    opacity: 100%;
    top: 62%;
  }
  70% {
    opacity: 100%;
    top: 6%;
  }
  100% {
    opacity: 0%;
    top: 6%;
  }
}
@keyframes scrollBallSmall {
  0% {
    opacity: 0%;
    top: 49%;
  }
  30% {
    opacity: 100%;
    top: 49%;
  }
  70% {
    opacity: 100%;
    top: 6%;
  }
  100% {
    opacity: 0%;
    top: 6%;
  }
}
.index-section-01 {
  height: 100vh;
  position: relative;
}

.index-section01-videoWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.index-section01-video {
  width: 100%;
  height: 100%;
}
.index-section01-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-section01-Control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}
.index-section01-Control.hide {
  top: 10%;
  opacity: 0;
  z-index: -10;
}

.index-section01-playBtn {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 100px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: blue;
}

.index-section01--textWrapper {
  color: white;
  position: absolute;
  bottom: 22vh;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--textWrapper {
    width: 100vw;
    bottom: 10vh;
  }
}
.index-section01--textWrapper .index-section01--welcome,
.index-section01--textWrapper .index-section01--title {
  position: relative;
}
.index-section01--textWrapper .index-section01--welcome p,
.index-section01--textWrapper .index-section01--title h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.index-section01--textWrapper .index-section01--welcome p {
  font-family: "jsRegular";
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--textWrapper .index-section01--welcome p {
    font-size: 1em;
  }
}
.index-section01--textWrapper .index-section01--title h3 {
  font-family: "jsMedium";
  font-size: 32px;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--textWrapper .index-section01--title h3 {
    font-size: 1.7em;
    word-spacing: 0.2em;
  }
}

.index-section01--videoControls--OpenWrapper {
  position: absolute;
  color: white;
  left: 0;
  bottom: 5vh;
  left: 2.5vw;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--videoControls--OpenWrapper {
    display: none;
  }
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  transform: scale(1);
  transition: transform 0.35s;
  cursor: pointer;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp div {
  position: absolute;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp .index-section01--openBtnContainer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp .index-section01--openBtnContainer .index-section01--openBtn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp .index-section01--openBtnSide:nth-child(2) {
  width: 9px;
  height: 9px;
  top: 0;
  left: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp .index-section01--openBtnSide:nth-child(3) {
  width: 9px;
  height: 9px;
  top: 0;
  right: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp .index-section01--openBtnSide:nth-child(4) {
  width: 9px;
  height: 9px;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp .index-section01--openBtnSide:nth-child(5) {
  width: 9px;
  height: 9px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp:hover {
  transform: scale(1.1);
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp:hover .index-section01--openBtnSide:nth-child(2) {
  animation: borderColor 1.5s ease-in-out 0s infinite;
  animation-delay: 0s, 3s;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp:hover .index-section01--openBtnSide:nth-child(3) {
  animation: borderColor 1.5s ease-in-out 0.25s infinite;
  animation-delay: 0.25s, 3.25s;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp:hover .index-section01--openBtnSide:nth-child(4) {
  animation: borderColor 1.5s ease-in-out 0.4s infinite;
  animation-delay: 0.4s, 3.4s;
}
.index-section01--videoControls--OpenWrapper .index-section01--openBtnWrp:hover .index-section01--openBtnSide:nth-child(5) {
  animation: borderColor 1.5s ease-in-out 0.5s infinite;
  animation-delay: 0.5s, 3.5s;
}
.index-section01--videoControls--OpenWrapper .index-section01--creator {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "jsLight";
  font-size: 17px;
  color: rgba(255, 255, 255, 0.4);
}

.index-section01--howToUse {
  position: absolute;
  bottom: 5vh;
  width: 36px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--howToUse {
    bottom: 1vh;
  }
}
.index-section01--howToUse .index-section01-scrollIcon {
  position: absolute;
  width: 30px;
  height: 62px;
  border-radius: 18px 18px 18px 18px;
  transform: translateY(-100%);
  border: 2px solid rgb(255, 255, 255);
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--howToUse .index-section01-scrollIcon {
    width: 25px;
    height: 42px;
  }
}
.index-section01--howToUse .index-section01-scrollIcon::after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 19px;
  border-radius: 100%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  animation: 1.7s ease-in-out 0.7s infinite;
}
@media (min-width: 1280px) {
  .index-section01--howToUse .index-section01-scrollIcon::after {
    animation-name: scrollBall;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--howToUse .index-section01-scrollIcon::after {
    width: 18px;
    height: 18px;
    animation-name: scrollBallSmall;
  }
}

.index-section01--videoControlsWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}
.index-section01--videoControlsWrapper.hide {
  top: 10%;
  opacity: 0;
  z-index: 0;
}
.index-section01--videoControlsWrapper .index-section01--detailControls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--videoControlsWrapper .index-section01--detailControls {
    top: 0;
  }
}
.index-section01--videoControlsWrapper .index-section01--controls--videoRangeWrapper {
  width: 100%;
  padding: 3% 2.5vw;
  height: 10px;
  position: relative;
  top: 0;
}
.index-section01--videoControlsWrapper .index-section01--controls--videoRangeWrapper .index-section01--controls--rangeLow {
  position: relative;
  width: 100%;
  height: 23px;
  border-radius: 1px;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--videoControlsWrapper .index-section01--controls--videoRangeWrapper .index-section01--controls--rangeLow {
    display: none;
  }
}
.index-section01--videoControlsWrapper .index-section01--controls--videoRangeWrapper .index-section01--controls--rangeLow .index-section01--controls--range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.index-section01--videoControlsWrapper .index-section01--controls--videoRangeWrapper .index-section01--controls--rangeLow .index-section01--controls--rangePass {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  border-top: 1px solid white;
  transition: 0.1s;
}
.index-section01--videoControlsWrapper .index-section01--controls--videoRangeWrapper .index-section01--controls--rangeLow .index-section01--controls--rangeControl {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  background-color: wheat;
  top: -50%;
  transition: 0.1s;
  z-index: 999;
  cursor: pointer;
}
.index-section01--videoControlsWrapper .index-section01--controls--videoRangeWrapper .index-section01--controls--rangeLow .index-section01--controls--rangeControl:hover {
  background-color: gray;
}

.index-section01--controls--closeBtn {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  overflow: hidden;
  align-items: center;
  transform: scale(1);
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--controls--closeBtn {
    display: none;
  }
}
.index-section01--controls--closeBtn button {
  display: flex;
  justify-content: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  pointer-events: all;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: 0.25s;
}
.index-section01--controls--closeBtn button span {
  font-family: "jsThin";
  font-size: 22px;
  margin-top: -2px;
}
.index-section01--controls--closeBtn.hide {
  pointer-events: none;
  transform: scale(0.2);
}
.index-section01--controls--closeBtn.hide button {
  opacity: 0;
}

.index-section01--controls--BtnWrapper {
  width: 100%;
  height: 30px;
  position: relative;
}
.index-section01--controls--BtnWrapper .index-section01--controls--Btn {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.index-section01--controls--BtnWrapper .index-section01--controls--Btn span {
  position: absolute;
  width: 40px;
  border: 2px solid white;
  background-color: white;
  transform-origin: right;
  transition: 0.3s;
}
.index-section01--controls--BtnWrapper .index-section01--controls--Btn.pause span:nth-child(1) {
  transform: rotate(-20deg);
}
.index-section01--controls--BtnWrapper .index-section01--controls--Btn.pause span:nth-child(2) {
  transform: rotate(20deg);
}
.index-section01--controls--BtnWrapper .index-section01--controls--Btn.play span:nth-child(1) {
  transform: rotate(0deg);
}
.index-section01--controls--BtnWrapper .index-section01--controls--Btn.play span:nth-child(2) {
  transform: rotate(0deg);
}

.index-section01--controls--Btn--mute {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2.5vw;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section01--controls--Btn--mute {
    left: 0;
    width: 5.5em;
  }
}
.index-section01--controls--Btn--mute .index-section01--controls--Btn--effect {
  position: absolute;
  width: 100%;
  top: 50%;
  left: -100%;
  border: 1px solid white;
  transition: 0.25s;
}
.index-section01--controls--Btn--mute .index-section01--controls--Btn--effect.mute {
  left: 0;
}
.index-section01--controls--Btn--mute button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.index-section01--controls--Btn--mute button span {
  text-transform: uppercase;
  font-family: "jsLight";
  font-size: 20px;
  color: white;
}

.index-section-02 {
  position: relative;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section-02 {
    height: auto;
  }
}

.index-section02--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section02--wrapper {
    height: 100vh;
  }
}

.index-section02--title {
  width: 100%;
  position: relative;
}
.index-section02--title h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}
.index-section02--title .index-section02--titleSpans {
  width: 100%;
  margin: 70px 0;
  text-align: center;
  overflow: hidden;
}
.index-section02--title .index-section02--titleSpans span {
  font-family: "jsBold";
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  transform: translateY(30px);
}
.index-section02--title .index-section02--titleSpans span.space {
  width: 18px;
}

.index-section02--textWrappers {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 120px;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section02--textWrappers {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.index-section02--textWrappers .index-section02--textWrapper {
  width: 220px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 15px;
  cursor: pointer;
  transition: 0.5s;
}
.index-section02--textWrappers .index-section02--textWrapper.open {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section02--textWrappers .index-section02--textWrapper {
    width: 80%;
  }
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--subTitle {
  font-family: "jsMedium";
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1.2px;
  line-height: 22px;
  margin-bottom: 15px;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--subTitle.show {
  color: #000;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--subWrapper {
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--content {
  width: 100%;
  font-family: "jsRegular";
  font-size: 17px;
  font-family: "jsRegular";
  letter-spacing: 1px;
  line-height: 21px;
  word-spacing: 3px;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--showIconWrapper {
  position: relative;
  width: 100%;
  height: 30px;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--showText {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 40px;
  font-size: 18px;
  overflow: hidden;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--showText p {
  position: absolute;
  opacity: 0;
  bottom: 0;
  transform: translateX(-100%);
  font-family: "jsRegular";
  transition: 0.35s ease;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--showText.open p {
  opacity: 1;
  transform: translateX(0);
  color: rgba(0, 0, 0, 0.4);
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  transition: 0.25s ease;
  overflow: hidden;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon .index-section02--arrowIcon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transition: 0.25s ease;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon .arrowOne {
  transform: translate(-50%, -50%);
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon .arrowTwo {
  transform: translate(-150%, 150%);
}
.index-section02--textWrappers .index-section02--textWrapper:hover .index-section02--subTitle {
  color: #000;
}
.index-section02--textWrappers .index-section02--textWrapper:hover .index-section02--showText p {
  transform: translateX(0%);
  opacity: 1;
}
.index-section02--textWrappers .index-section02--textWrapper:hover .open p {
  color: #000;
}
.index-section02--textWrappers .index-section02--textWrapper:hover .arrowOne {
  transform: translate(150%, -150%);
}
.index-section02--textWrappers .index-section02--textWrapper:hover .arrowTwo {
  transform: translate(-50%, -50%);
}

.index-section02--imagesWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 2.5vw;
  height: 32%;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section02--imagesWrapper {
    display: none;
  }
}
.index-section02--imagesWrapper .index-section02--imageSlides {
  display: flex;
  align-items: end;
  gap: 10px;
  width: 50%;
}
.index-section02--imagesWrapper .index-section02--imageSlides .index-section02--imageSlide {
  position: relative;
  width: 110px;
  height: 70px;
}
.index-section02--imagesWrapper .index-section02--imageSlides .index-section02--imageSlide .index-section02--imageCover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}
.index-section02--imagesWrapper .index-section02--imageSlides .index-section02--imageSlide.selected .index-section02--imageCover {
  background-color: rgba(0, 0, 0, 0);
}
.index-section02--imagesWrapper .index-section02--imageSlides .index-section02--imageSlide:hover .index-section02--imageCover {
  background-color: rgba(0, 0, 0, 0);
}
.index-section02--imagesWrapper .index-section02--imageSlides .index-section02--imageSlide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.index-section02--imagesWrapper .index-section02--imageLargeBoxWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
}
.index-section02--imagesWrapper .index-section02--imageLargeBoxWrapper .index-section02--imageLargeBox {
  min-width: 400px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.index-section02--imagesWrapper .index-section02--imageLargeBoxWrapper .index-section02--imageLargeBox .index-section02--imageLarge {
  position: absolute;
  width: 100%;
  height: 100%;
}
.index-section02--imagesWrapper .index-section02--imageLargeBoxWrapper .index-section02--imageLargeBox .index-section02--imageLarge img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-section02--animationControll {
  position: relative;
  margin-left: 40px;
  display: flex;
  gap: 50px;
  align-items: flex-end;
}
.index-section02--animationControll .index-section02--directions {
  position: relative;
  width: 50px;
  height: 50px;
}
.index-section02--animationControll .index-section02--top {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 18px solid rgba(0, 0, 0, 0.4);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
  top: -18px;
}
.index-section02--animationControll .index-section02--top.selected {
  border-color: black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
}
.index-section02--animationControll .index-section02--top:hover {
  border-color: black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
}
.index-section02--animationControll .index-section02--left {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 18px solid rgba(0, 0, 0, 0.4);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left: none;
  left: -18px;
}
.index-section02--animationControll .index-section02--left.selected {
  border-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left: none;
}
.index-section02--animationControll .index-section02--left:hover {
  border-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left: none;
}
.index-section02--animationControll .index-section02--right {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 18px solid rgba(0, 0, 0, 0.4);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: none;
  right: -4px;
}
.index-section02--animationControll .index-section02--right.selected {
  border-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: none;
}
.index-section02--animationControll .index-section02--right:hover {
  border-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: none;
}
.index-section02--animationControll .index-section02--bottom {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 18px solid rgba(0, 0, 0, 0.4);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: none;
  bottom: -4px;
}
.index-section02--animationControll .index-section02--bottom.selected {
  border-color: black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: none;
}
.index-section02--animationControll .index-section02--bottom:hover {
  border-color: black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: none;
}
.index-section02--animationControll .index-section02--stateControl {
  font-family: "jsRegular";
  font-size: 15px;
  min-width: 120px;
}
.index-section02--animationControll .index-section02--stateControl .index-section02--duration {
  width: 100%;
  margin-bottom: 10px;
}
.index-section02--animationControll .index-section02--stateControl .index-section02--duration .index-section02-durationBox {
  display: flex;
  width: 100%;
}
.index-section02--animationControll .index-section02--stateControl .index-section02--duration input {
  width: 100%;
  height: 11px;
  background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #ececec 50%, #ececec 100%);
  border-radius: 2px;
  display: inline-block;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  accent-color: #ffca1d;
}
.index-section02--animationControll .index-section02--stateControl .index-section02--duration span {
  display: inline-block;
}
.index-section02--animationControll .index-section02--stateControl .index-section02--easeOption {
  display: flex;
  width: 100%;
  gap: 10px;
}
.index-section02--animationControll .index-section02--stateControl .index-section02--easeOption select {
  width: 45%;
  border-radius: 1px;
  box-shadow: none;
  font-family: "jsLight";
  font-size: 15px;
}
.index-section02--animationControll .index-section02--stateControl .index-section02--easeOption select:focus {
  outline: none;
}

.index-section-03 {
  height: auto;
}

.index-section03--wrapper {
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: end;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--wrapper {
    display: block !important;
    height: auto;
  }
}

.index-section03--reasonFirst {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst {
    display: block !important;
    height: 520vh;
    padding: 100vh 0;
    position: relative;
  }
}
.index-section03--reasonFirst .index-section03--whatIsAnimation {
  width: 50%;
  position: relative;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst .index-section03--whatIsAnimation {
    display: block;
    width: 100%;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
  }
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black,
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray {
  position: absolute;
  top: 0;
  left: 0;
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black p, .index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black span,
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray p,
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray span {
  font-family: "jsRegular";
  font-size: 1.4em;
  word-spacing: 0.5em;
  line-height: 1.2em;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black p, .index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black span,
  .index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray p,
  .index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray span {
    font-size: 1.15em;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black {
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black p {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 0% 0%, 0% 0%, 0% 0%);
          clip-path: polygon(0 0, 0% 0%, 0% 0%, 0% 0%);
  transition: 0.5s;
  color: #000;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray {
    position: relative;
    text-align: center;
  }
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray p {
  transition: 0.5s;
  color: #6c6c6c;
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray p span {
  color: #6c6c6c;
  opacity: 0.3;
}
.index-section03--reasonFirst .index-section03--experienceAni {
  width: 50%;
  height: 100%;
  background-color: blue;
  opacity: 0.5;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst .index-section03--experienceAni {
    position: absolute;
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    top: 0;
    left: 0;
    opacity: 0.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.index-section03--reasonFirst .index-section03--titleWrapper {
  position: absolute;
  top: 100%;
  z-index: 2;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst .index-section03--titleWrapper {
    display: none;
  }
}
.index-section03--reasonFirst .index-section03--titleWrapper .index-section03--titles p {
  padding-bottom: 0.5em;
  font-family: "jsExtraBold";
  font-size: 6em;
  transition: 0.2s;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonFirst .index-section03--titleWrapper .index-section03--titles p {
    font-size: 1em;
  }
}
.index-section03--reasonFirst .index-section03--titleWrapper .index-section03--titles p:hover {
  letter-spacing: 0.1em;
}

.index-section03--reasonSecond {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  margin-bottom: 1%;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonSecond {
    height: 320vh;
    display: block;
  }
}
.index-section03--reasonSecond .index-section03--whyDoIMade {
  width: 40%;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonSecond .index-section03--whyDoIMade {
    width: 100%;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
  }
}
.index-section03--reasonSecond .index-section03--whyDoIMade p {
  font-family: "jsRegular";
  font-size: 1.3em;
  word-spacing: 0.6em;
  line-height: 1.2em;
}
@media (min-width: 0) and (max-width: 480px) {
  .index-section03--reasonSecond .index-section03--whyDoIMade p {
    font-size: 1.2em;
  }
}

@keyframes showContent {
  0% {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    bottom: -50px;
  }
  1% {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    bottom: -44px;
  }
  100% {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    bottom: 0px;
  }
}
@keyframes showTexts {
  0% {
    color: rgba(0, 0, 0, 0);
    transform: translateY(5px);
  }
  100% {
    color: rgb(0, 0, 0);
    transform: translateY(0px);
  }
}
@keyframes showBtn {
  0% {
    color: rgba(0, 0, 0, 0);
    transform: translateY(5px);
  }
  100% {
    color: rgba(0, 0, 0, 0.4);
    transform: translateY(0px);
  }
}
.trick:hover .trick-content--Wrapper .trick-content--title,
.trick:hover .trick-content--Wrapper .trick-content--infos {
  animation: 0.7s ease-in forwards;
}
@media (min-width: 1280px) {
  .trick:hover .trick-content--Wrapper .trick-content--title,
  .trick:hover .trick-content--Wrapper .trick-content--infos {
    animation-name: showTexts;
  }
}

.tricksList {
  padding-top: 6vh;
}

.tricksWrapper {
  width: 100%;
  padding: 0 2.5vw;
}

.tricks-list--row {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.25s ease-in-out;
}
@media (min-width: 0) and (max-width: 480px) {
  .tricks-list--row {
    display: block;
    overflow: visible;
    height: auto;
    border: none;
  }
}
.tricks-list--row.close {
  height: 0px;
}
.tricks-list--row .animate {
  position: absolute;
  top: 0;
  width: 0vw;
  height: 100%;
  background-color: black;
}

.tricks-list--entrance {
  width: 40%;
  height: 100%;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
}
@media (min-width: 0) and (max-width: 480px) {
  .tricks-list--entrance {
    width: 100%;
  }
}
.tricks-list--entrance .tricks-list--title h1 {
  font-family: "jsThin";
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 20px;
}
@media (min-width: 0) and (max-width: 480px) {
  .tricks-list--entrance .tricks-list--title h1 {
    font-family: "jsMedium";
    font-size: 5em;
    margin-bottom: 20px;
  }
}
.tricks-list--entrance .tricks-list--whatIs {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0) and (max-width: 480px) {
  .tricks-list--entrance .tricks-list--whatIs {
    display: block;
  }
}
.tricks-list--entrance .tricks-list--whatIs .tricks-list--intro p {
  font-family: "jsThin";
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 480px) {
  .tricks-list--entrance .tricks-list--whatIs .tricks-list--intro p {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}
.tricks-list--entrance .tricks-list--whatIs .tricks-list--count {
  font-family: "jsLight";
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 0) and (max-width: 480px) {
  .tricks-list--entrance .tricks-list--whatIs .tricks-list--count {
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.trickWrapper {
  width: 20%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickWrapper {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.trick {
  position: relative;
  width: 97%;
  height: 96%;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick {
    width: 100%;
    height: 90%;
    display: flex;
    border: none;
  }
}
.trick .trick-content--Wrapper {
  position: absolute;
  bottom: -80px;
  overflow: hidden;
  width: 100%;
  padding: 2% 3%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick .trick-content--Wrapper {
    position: relative;
    border-radius: 0;
    border: none;
    bottom: 0;
  }
}
.trick .trick-content--Wrapper .trick-content--title {
  font-family: "jsBold";
  font-size: 17px;
  margin-bottom: 6px;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick .trick-content--Wrapper .trick-content--title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
  }
  .trick .trick-content--Wrapper .trick-content--title h2 {
    margin: 0;
  }
}
.trick .trick-content--Wrapper .trick-content--infos {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-family: "jsBold";
  font-size: 12px;
  align-items: center;
  margin-bottom: 4px;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick .trick-content--Wrapper .trick-content--infos {
    flex-direction: column;
    align-items: start;
    height: 140px;
  }
}
.trick .trick-content--Wrapper .trick-content--infos .trick-content--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick .trick-content--Wrapper .trick-content--infos .trick-content--right {
    width: 100%;
    justify-content: end;
  }
}
.trick .trick-content--Wrapper .trick-content--infos .trick-content--right button {
  outline: none;
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0;
  font-family: "jsBold";
  font-size: 12px;
  cursor: pointer;
  transition: 0.25s;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick .trick-content--Wrapper .trick-content--infos .trick-content--right button {
    font-size: 1.3em;
  }
}
.trick .trick-content--Wrapper .trick-content--infos .trick-content--skills span {
  font-family: "jsBold";
  font-size: 11px;
}
.trick:hover .trick-content--Wrapper {
  animation: 1s forwards;
}
@media (min-width: 1280px) {
  .trick:hover .trick-content--Wrapper {
    animation-name: showContent;
  }
}
.trick:hover .trick-content--Wrapper button:hover {
  color: black !important;
}
.trick:hover .trick-video--Wrapper {
  width: 100%;
  height: 100%;
}
.trick:hover .trick-video--Wrapper .trick-video--video {
  width: 98%;
  height: 98%;
  border-radius: 5px;
}
.trick:hover .trick-video--Wrapper video {
  width: 100%;
  height: 100%;
}

.trick-video--Wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick-video--Wrapper {
    position: relative;
  }
}

.trick-video--video {
  width: 94%;
  height: 96%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.25s;
}
@media (min-width: 0) and (max-width: 480px) {
  .trick-video--video {
    width: 98%;
    height: 98%;
    border-radius: 5px;
  }
}
.trick-video--video video {
  width: 130%;
  height: 130%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s;
}

.trick-showMore {
  width: 100vw;
  padding: 2em;
}

.trick-showMore-BtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trick-showMore-BtnBox button {
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}
.trick-showMore-BtnBox button span {
  transition: 0.4s;
  font-family: "jsLight";
  font-size: 1.3em;
  color: #c9c9c9;
}
.trick-showMore-BtnBox button:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.trick-showMore-BtnBox button:hover span {
  color: #000000;
}
.trick-showMore-BtnBox .trick-showMore--end {
  font-family: "jsLight";
  font-size: 1.5em;
}

.trickDetail-content--right, .trickDetail-content--left {
  width: 50%;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--right, .trickDetail-content--left {
    width: 100%;
  }
}

.trickDetail {
  width: 100%;
  height: 100vh;
  padding-top: 5vh;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail {
    padding-top: 5vh;
  }
}

.trickDetail--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail--wrapper {
    flex-direction: column;
  }
}

.trickDetail-option {
  position: absolute;
  top: 10px;
  left: 2.5vw;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-option {
    position: fixed;
    top: 0.6em;
    left: 1vw;
  }
}
.trickDetail-option button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "jsLight";
  font-size: 1.2em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-option button {
    font-size: 1.1em;
  }
}

.trickDetail-content--left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 2.5vw;
  overflow: hidden;
  gap: 1em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left {
    padding-right: 2.5vw;
    overflow: visible;
  }
}
.trickDetail-content--left .trickDetail-content--title {
  font-family: "jsRegular";
  font-size: 4.5em;
  margin-bottom: 0.2em;
  font-family: "jsLight";
  font-size: 4.5em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--title {
    font-size: 1.5em;
  }
}
.trickDetail-content--left .trickDetail-content--skills {
  display: flex;
  gap: 15px;
  width: 100%;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--skills {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 6px;
  }
}
.trickDetail-content--left .trickDetail-content--skills span {
  font-family: "jsLight";
  font-size: 1.3em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--skills span {
    font-size: 1em;
  }
}
.trickDetail-content--left .trickDetail-content--date span {
  font-family: "jsLight";
  font-size: 1.3em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--date span {
    font-size: 1em;
  }
}
.trickDetail-content--left .trickDetail-content--goal span {
  font-family: "jsLight";
  font-size: 1.3em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--goal span {
    font-size: 1em;
  }
}
.trickDetail-content--left .trickDetail-content--explanation {
  margin-bottom: 3em;
  width: 80%;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--explanation {
    width: 100%;
  }
}
.trickDetail-content--left .trickDetail-content--explanation p {
  font-family: "jsLight";
  font-size: 1.4em;
  word-spacing: 0.3em;
  line-height: 1.1em;
  padding-top: 0.3em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--explanation p {
    font-size: 1.1em;
  }
}
.trickDetail-content--left .trickDetail-content--explanation p:first-child {
  font-size: 1.6em;
}
@media (min-width: 0) and (max-width: 480px) {
  .trickDetail-content--left .trickDetail-content--explanation p:first-child {
    font-size: 1.2em;
  }
}

.trickDetail-content--right {
  height: 100%;
  position: relative;
}
.trickDetail-content--right .trickDetail-content--videoWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.trickDetail-content--right .trickDetail-content--videoWrapper .trickDetail-content-videoBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(10px);
}
.trickDetail-content--right .trickDetail-content--videoWrapper .trickDetail-content-video {
  position: absolute;
  width: 90%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trickDetail-content--right .trickDetail-content--videoWrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trickDetail-content--videoStateWrap {
  position: fixed;
  top: -20px;
  left: 0;
  pointer-events: none;
}
.trickDetail-content--videoStateWrap .trickDetail-content--videoState span {
  font-family: "jsRegular";
  font-size: 1.4em;
  text-transform: uppercase;
  color: red;
}
.trickDetail-content--videoStateWrap.hide {
  display: none;
}
.trickDetail-content--videoStateWrap.show {
  display: block;
}/*# sourceMappingURL=main.css.map */