@charset "UTF-8";
@font-face {
  font-family: "jsExtraBold";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_ExtraBold.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "jsBold";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Bold.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "jsMedium";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Medium.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "jsRegular";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Regular.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "jsLight";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Light.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "jsThin";
  src: url("../../assets/fonts/Jamsil/The_Jamsil_OTF_Thin.otf") format("opentype"); /* otf 파일 경로 */
  font-weight: 100;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.footer-info--emailWrp .footer-info-email, .footer-info--phone .footer-info--number {
  margin-top: 8px;
  font-size: 25px;
}

footer {
  width: 100%;
  height: 100vh;
  position: relative;
}

.footer-infomation {
  position: absolute;
  width: 100%;
  height: 35%;
  padding: 0 2.5vw;
  bottom: 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.footer-left {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10%;
}

.footer-title p {
  font-size: 75px;
  transform: scaleY(1.05);
  font-family: "jsMedium";
  letter-spacing: -1px;
}

.footer-navToFrist a {
  font-size: 15px;
  font-family: "jsLight";
  color: #cdcdcd;
  cursor: pointer;
  transition: 0.25s;
}
.footer-navToFrist a:hover {
  font-size: 15px;
  color: #000;
}

.footer-right {
  display: flex;
  font-size: 13px;
  align-items: start;
  font-family: "jsRegular";
}

.footer-info--first {
  margin-right: 50px;
}

.footer-info--phone {
  margin-bottom: 8px;
}
.footer-info--addressWra .footer-info--address {
  letter-spacing: 0.5px;
  word-spacing: 4px;
}
.footer-info--addressWra .footer-info--address p {
  margin-top: 8px;
}

.footer-info--emailWrp {
  margin-bottom: 8px;
}
.footer-info--emailWrp .footer-info-email {
  text-transform: uppercase;
}

.footer-info--SNS p {
  margin-bottom: 8px;
}

.footer-info-secondeDown {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "jsBold";
  text-transform: uppercase;
  z-index: 1000;
}

.headerWrapper {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogoWrapper {
  position: absolute;
  top: 0;
  background-color: red;
  opacity: 0.2;
  left: 2.5vw;
  height: 100%;
  margin-right: 40vw;
}
.headerLogoWrapper .headerLogo {
  height: 100%;
  width: 100px;
  cursor: pointer;
}

.headerNavWrapper {
  display: flex;
  gap: 5vw;
}

.headerNav {
  color: rgba(0, 0, 0, 0.5);
}
.headerNav span {
  display: inline-block;
  width: 15px;
  font-size: 12px;
  transform: scale(1);
  transform-origin: bottom;
  transition: 0.25s;
  color: rgba(0, 0, 0, 0.5) ease-in-out;
}
.headerNav a {
  color: rgba(0, 0, 0, 0.5);
}

.headerNav:hover span {
  transform: scale(1.4);
  color: rgb(0, 0, 0);
}
.headerNav:hover a {
  color: rgb(0, 0, 0);
}

.index-section03--wrapper .index-section03--reasonFirst {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.index-section-03, .index-section-02, .index-section-01 {
  width: 100vw;
  height: 100vh;
  display: none;
}

@keyframes borderColor {
  0% {
    border-color: rgba(255, 255, 255, 0.4);
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes scrollBall {
  0% {
    opacity: 0%;
    top: 62%;
  }
  30% {
    opacity: 100%;
    top: 62%;
  }
  70% {
    opacity: 100%;
    top: 6%;
  }
  100% {
    opacity: 0%;
    top: 6%;
  }
}
.index-section-01 {
  height: 95vh;
  position: relative;
}

.index-section01-videoWrapper {
  width: 100%;
  height: 100%;
}

.index-section01-video {
  width: 100%;
  height: 100%;
}
.index-section01-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-section01-Control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.index-section01-playBtn {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 100px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: blue;
}

.index-section01--textWrapper {
  color: white;
  position: absolute;
  bottom: 22vh;
  left: 50%;
  transform: translateX(-50%);
}
.index-section01--textWrapper .index-section01--welcome,
.index-section01--textWrapper .index-section01--title {
  position: relative;
}
.index-section01--textWrapper .index-section01--welcome p,
.index-section01--textWrapper .index-section01--title h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.index-section01--textWrapper .index-section01--welcome p {
  font-family: "jsRegular";
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 35px;
}
.index-section01--textWrapper .index-section01--title h3 {
  font-family: "jsMedium";
  font-size: 32px;
}

.index-section01--videoControlsWrapper {
  position: absolute;
  color: white;
  left: 0;
  bottom: 5vh;
  left: 2.5vw;
  display: flex;
  justify-content: start;
  align-items: center;
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  transform: scale(1);
  transition: transform 0.35s;
  cursor: pointer;
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp div {
  position: absolute;
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp .index-section01-openBtn:nth-child(1) {
  width: 9px;
  height: 9px;
  top: 0;
  left: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp .index-section01-openBtn:nth-child(2) {
  width: 9px;
  height: 9px;
  top: 0;
  right: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp .index-section01-openBtn:nth-child(3) {
  width: 9px;
  height: 9px;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp .index-section01-openBtn:nth-child(4) {
  width: 9px;
  height: 9px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp:hover {
  transform: scale(1.1);
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp:hover .index-section01-openBtn:nth-child(1) {
  animation: borderColor 1.5s ease-in-out 0s infinite;
  animation-delay: 0s, 3s;
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp:hover .index-section01-openBtn:nth-child(2) {
  animation: borderColor 1.5s ease-in-out 0.25s infinite;
  animation-delay: 0.25s, 3.25s;
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp:hover .index-section01-openBtn:nth-child(3) {
  animation: borderColor 1.5s ease-in-out 0.4s infinite;
  animation-delay: 0.4s, 3.4s;
}
.index-section01--videoControlsWrapper .index-section01--openBtnWrp:hover .index-section01-openBtn:nth-child(4) {
  animation: borderColor 1.5s ease-in-out 0.5s infinite;
  animation-delay: 0.5s, 3.5s;
}
.index-section01--videoControlsWrapper .index-section01--creator {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "jsLight";
  color: rgba(255, 255, 255, 0.4);
}

.index-section01--howToUse {
  position: absolute;
  bottom: 5vh;
  width: 36px;
  left: 50%;
  transform: translateX(-50%);
}
.index-section01--howToUse .index-section01-scrollIcon {
  position: absolute;
  width: 30px;
  height: 62px;
  border-radius: 18px 18px 18px 18px;
  transform: translateY(-100%);
  border: 2px solid rgb(255, 255, 255);
}
.index-section01--howToUse .index-section01-scrollIcon::after {
  content: "";
  position: relative;
  display: block;
  width: 20px;
  height: 19px;
  border-radius: 100%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollBall 1.7s ease-in-out 0.7s infinite;
}

.index-section-02 {
  position: relative;
}

.index-section02--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.index-section02--title {
  width: 100%;
  position: relative;
}
.index-section02--title h2 {
  font-family: "jsBold";
  text-transform: uppercase;
  margin: 70px 0;
  font-size: 25px;
  letter-spacing: 1.5px;
  word-spacing: 15px;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.index-section02--textWrappers {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 120px;
  align-items: flex-start;
}
.index-section02--textWrappers .index-section02--textWrapper {
  width: 220px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 15px;
  cursor: pointer;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--subTitle {
  font-family: "jsMedium";
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  letter-spacing: 1.2px;
  line-height: 22px;
  margin-bottom: 15px;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--subWrapper {
  width: 100%;
  height: 0px;
  overflow: hidden;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--content {
  width: 100%;
  font-family: "jsRegular";
  font-family: "jsRegular";
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 21px;
  word-spacing: 3px;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--showIconWrapper {
  position: relative;
  width: 100%;
  height: 30px;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--showText {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 40px;
  font-size: 18px;
  overflow: hidden;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--showText p {
  position: absolute;
  opacity: 0;
  bottom: 0;
  transform: translateX(-100%);
  font-family: "jsRegular";
  transition: 0.35s ease;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: white;
  transition: 0.25s ease;
  overflow: hidden;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon .index-section02--arrowIcon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transition: 0.25s ease;
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon .arrowOne {
  transform: translate(-50%, -50%);
}
.index-section02--textWrappers .index-section02--textWrapper .index-section02--icon .arrowTwo {
  transform: translate(-150%, 150%);
}
.index-section02--textWrappers .index-section02--textWrapper:hover .index-section02--subTitle {
  color: #000;
}
.index-section02--textWrappers .index-section02--textWrapper:hover .index-section02--showText p {
  transform: translateX(0%);
  opacity: 1;
}
.index-section02--textWrappers .index-section02--textWrapper:hover .arrowOne {
  transform: translate(150%, -150%);
}
.index-section02--textWrappers .index-section02--textWrapper:hover .arrowTwo {
  transform: translate(-50%, -50%);
}

.index-section02--imagesWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.index-section02--imagesWrapper .index-section02--image {
  position: absolute;
  width: 260px;
  height: 180px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 255, 0.5);
}
.index-section02--imagesWrapper .index-section02--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-section03--wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  position: relative;
}
.index-section03--reasonFirst {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.index-section03--reasonFirst .index-section03--whatIsAnimation {
  width: 350px;
  position: relative;
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black,
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray {
  position: absolute;
  top: 0;
  left: 0;
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black p,
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray p {
  font-family: "jsRegular";
  font-size: 20px;
  word-spacing: 6px;
  line-height: 29px;
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-black p {
  color: #000;
}
.index-section03--reasonFirst .index-section03--whatIsAnimation .index-section03--whatIsAnimation-gray p {
  color: #6c6c6c;
}
.index-section03--reasonFirst .index-section03--experienceAni {
  width: 750px;
  height: 500px;
  background-color: blue;
  opacity: 0.5;
}

.index-section03--reasonSecond {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
}
.index-section03--reasonSecond .index-section03--titleWrapper {
  position: absolute;
  left: 0;
  top: -130px;
}
.index-section03--reasonSecond .index-section03--titleWrapper .index-section03--titles p {
  font-size: 85px;
  padding-bottom: 45px;
  font-family: "jsExtraBold";
}
.index-section03--reasonSecond .index-section03--whyDoIMade {
  width: 40%;
}
.index-section03--reasonSecond .index-section03--whyDoIMade p {
  font-family: "jsRegular";
  font-size: 15px;
  word-spacing: 6px;
  line-height: 26px;
}/*# sourceMappingURL=main.css.map */